@use "sass:color";
@use "../base/color"as base_color;

.slide_area{
        position: relative;

        .slide_text_area{
            position: absolute;
            top: 82%;
            left: 0px;
            // background-color: base_color.$main_color_yellow;
            width: calc(100% - 10px);
            transform: translate(0px, -50%);

            .slide_text{
                h3{
                    color: base_color.$white;
                    background-color: base_color.$main_color_yellow;
                    display: inline-block;
                    line-height: 1.5;
                    // text-shadow: black 0.1em 0.1em 0.2em;
                    padding: 5px 10px 5px 10px;
                    font-size: 10px;
                    border-radius: 0 50px 50px 0;
                }
            }
        }
    }

main {
    .main_publicity {
        .main_publicity_content {
            .feature {
                display: flex;
                flex-wrap: wrap;

                .feature_content {
                    width: 100%;
                    margin: 0 0 40px 0;

                    &:nth-last-child(1) {
                        margin: 0;
                    }

                    .feature_content_step {
                        display: inline-block;
                        text-align: left;
                        margin-bottom: 30px;
                        padding: 8px 20px;
                        border-radius: 50px;
                        color: base_color.$white;

                        &.color_blue {
                            background-color: base_color.$main_color_blue;
                        }

                        &.color_green {
                            background-color: base_color.$main_color_green;
                        }

                        &.color_red {
                            background-color: base_color.$main_color_red;
                        }

                        &.color_yellow {
                            background-color: base_color.$main_color_yellow;
                        }
                    }

                    img {
                        display: block;
                        margin: 0 auto 20px;
                        width: 80%;
                    }

                    .feature_content_tittle {
                        margin: 10px 0;
                        color: base_color.$main-color;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }

            .contact_box {
                padding: 20px 0px;
                margin: 40px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 30px;

                p {
                    text-align: center;
                }

                .login_button {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 30px;
                    margin: 20px auto 0;
                    background-color: base_color.$main_color;
                    border: 1.5px solid base_color.$main-color;
                    transition: opacity 390ms cubic-bezier(.215, .61, .355, 1);

                    .login_button_icon {
                        position: absolute;
                        left: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        color: base_color.$white;
                        border-radius: 50%;
                    }

                    p {
                        color: base_color.$white;
                    }

                    &:hover {
                        background-color: base_color.$brown;
                        border: 1.5px solid base_color.$brown;

                        .login_button_icon {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 500px){
    .slide_area{

        .slide_text_area{

            .slide_text{
                h3{
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .slide_area{

        .slide_text_area{

            .slide_text{
                h3{
                    font-size: 16px;
                }
            }
        }
    }
    
    main {

        .main_publicity {
            .main_publicity_content {
                .feature {
                    justify-content: space-between;

                    .feature_content {
                        width: 47%;

                        &:nth-last-child(2) {
                            margin: 0;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 768px) {
    .slide_area{

        .slide_text_area{

            .slide_text{
                h3{
                    font-size: 23px;
                    padding: 5px 30px 5px 20px;
                }
            }
        }
    }

    main {

        .main_publicity {
            .main_publicity_content {
                .feature {
                    .feature_content {
                        margin: 0 0 80px 0;
                    }
                }

                .contact_box {
                    padding: 40px;
                    margin: 80px 0 0;
                    flex-direction: row;

                    .login_button {
                        width: auto;
                        padding: 10px 100px;
                        margin: 0 0 0 40px;
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1024px) {
    .slide_area{

        .slide_text_area{
            width: calc(100% - 20px);

            .slide_text{
                h3{
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .slide_area{

        .slide_text_area{
            width: calc(100% - 40px);
            
            .slide_text{
                h3{
                    font-size: 35px;
                    padding: 15px 40px 15px 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .slide_area{

        .slide_text_area{
            .slide_text{
                h3{
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .slide_area{

        .slide_text_area{
            .slide_text{
                h3{
                    font-size: 45px;
                }
            }
        }
    }
}