main {
    .test_area_bg {
        width: 100%;
        height: calc(100vh - 64.7px);
        padding: 30px 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.land_test_area{
            background-image: url(../image/photo/test/bg/test.png);
        }
        .test_progress{
            .drag-line {
                max-width: 1200px;
                width: 45%;
                height: 10px;
                background: $white;
                border-radius: 10px;
                margin: 0 auto;
                .line {
                    background: $main_color;
                    border-radius: 10px;
                    margin-top: 0px;
                    margin-left: 0px;
                    /* background-position: center center; */
                }
            }
        }
        
    }
}

@media screen and (min-width: 576px) {
    main {
            .test_area_bg {
                height: calc(100vh - 77.05px);
            }
    }
}

@media screen and (min-width: 768px) {
    main {
    }
}

@media screen and (min-width: 992px) {
    main {
            .test_area_bg {
                height: calc(100vh - 89.81px);
            }
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}