main {
    .information_area{
        .input_area {
            position: relative;
            margin: 30px auto;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .input-group-label {
                padding: 10px 15px;
                color: $main_color_black;
                width: 100%;
            }
        
            .form-control {
                border-radius: 5px !important;
                margin-left: 0px !important;
                padding: 10px 15px;
                border: 1px solid $main_color_black;
                color: $main_color_black;
                width: 100%;

                &:read-only {
                    color: $grey;
                    background-color: transparent;
                    border: 0px;
                    border-bottom: 1px solid $grey;
                    border-radius: 0px !important;

                    &:focus{
                        box-shadow: none;
                    }
                }

                &.level_introduction_btn {
                    position: relative;
                    margin: 0 0 0 10px;
                    flex-wrap: wrap;
                    display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: $main_color_black;
                        appearance: none;
                        overflow: hidden;
                        cursor: pointer;
                
                    p {
                        text-align: left;
                        width: calc(100% - 25px);
                    }
                
                    &.form-control {
                        border-radius: 5px !important;
                        margin-left: 0px !important;
                        padding: 10px 40px 10px 15px;
                        border: 1px solid $main_color_black;
                        color: $main_color_black;
                        &.open {
                
                            svg {
                                transform: rotate(180deg);
                                transition: 0.3s;
                            }
                
                            ul {
                                display: block;
                            }
                        }
                    }
                
                    ul {
                        position: relative;
                        transform: translate(0, 5px);
                        z-index: 2;
                        margin: 0 0 0 auto;
                        width: 100%;
                        display: none;
                        // border: 1px solid $main_color_black;
                        background-color: $white;
                        overflow: hidden;
                        cursor: pointer;
                
                        li {
                            text-align: left;
                            padding: 5px;
                            border-radius: 5px;
                            color: $main_color_black;
                
                            &:hover,
                            &.active {
                                background-color: $main_color;
                                color: $white;
                            }
                        }
                
                        &:hover {
                            li {
                                &.active {
                                    background-color: transparent;
                                    color: $main_color_black;
                
                                    &:hover {
                                        background-color: $main_color;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }


                    option {
                        color: $main_color_black;
                        padding: 5px 40px 5px 10px;
                        
                        &:checked {
                            box-shadow: 0 0 0px 100px $main_color inset !important;
                        }

                        &:hover {
                            background: lighten($main_color, 15%) !important;

                            &:checked {
                                box-shadow: 0 0 0px 100px transparent inset;
                            }

                            &:checked {
                                box-shadow: 0 0 0px 100px lighten($main_color, 15%) inset;
                                color: red;
                            }
                        }
                    }

                    &:focus {
                        outline: none;
                        border-color: $main_color;
                        border-radius: 5px;
                    }
                
                    &:disabled{
                        border: 1px solid $grey !important;
                        cursor: auto;
                        color: $grey;
                
                        &~.select_icon{
                            i{
                            color: $grey;
                        }
                    }
                    }
                
                    &:has(.form-select:focus){
                        z-index: 12;
                      }
                
                    &:focus-within {
                        .form-select {
                            border-radius: 50%;
                            position: relative;
                            right: 0;
                            width: 100%;
                            z-index: 10;
                            overflow: scroll;
                            overflow-x: hidden;
                
                            &::-webkit-scrollbar-track {
                                border-radius: 5px;
                                background: transparent;
                            }
                
                            &::-webkit-scrollbar {
                                background: transparent;
                                width: 5px;
                            }
                
                            &::-webkit-scrollbar-thumb {
                                border: none;
                                box-shadow: none;
                                background: $main_color;
                                min-height: 8px;
                                border-radius: 5px;
                            }
                
                
                            option {
                                color: $main_color_black;
                                padding: 5px 10px;
                
                                &:disabled {
                                    display: none;
                                }
                            }
                        }
                
                        .select_icon {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .select_icon {
                position: absolute;
                right: 12px;
                top: 10px;
                transform: translate(0, 0%);
                z-index: 11;
                pointer-events: none;
                user-select: none;
                transition: 0.3s;
                color: $main_color_black;
            }
    
            &.input-group-submit{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 60px auto 30px;
                .input-group-submit-btn{
                    padding: 8px 30px;
                    border-radius: 50px;
                    border: 1px solid $main_color;
                    color: $main_color;
    
                    &:hover{
                        background-color: $main_color;
                        color: $white;
                    }
                }
            }
        }
    }
}

// select{
//     appearance: none;

//     option {
//         color: $main_color_black;
//         padding: 5px 10px;

//         &:hover {
//             background: lighten($main_color, 15%) !important;
//         }

//         &:checked {
//             box-shadow: 0 0 0px 100px $main_color inset;
//         }
//     }

//     &:focus {
//         outline: none;
//         border-color: $main_color;
//         border-radius: 5px;
//     }

//     &:disabled{
//         border: 1px solid $grey !important;
//         cursor: auto;
//         color: $grey;

//         &~.select_icon{
//             i{
//             color: $grey;
//         }
//     }
//     }

//     &:has(.form-select:focus){
//         z-index: 12;
//       }

//     &:focus-within {
//         .form-select {
//             border-radius: 50%;
//             position: relative;
//             right: 0;
//             width: 100%;
//             z-index: 10;
//             overflow: scroll;
//             overflow-x: hidden;

//             &::-webkit-scrollbar-track {
//                 border-radius: 5px;
//                 background: transparent;
//             }

//             &::-webkit-scrollbar {
//                 background: transparent;
//                 width: 5px;
//             }

//             &::-webkit-scrollbar-thumb {
//                 border: none;
//                 box-shadow: none;
//                 background: $main_color;
//                 min-height: 8px;
//                 border-radius: 5px;
//             }


//             option {
//                 color: $main_color_black;
//                 padding: 5px 10px;

//                 &:disabled {
//                     display: none;
//                 }
//             }
//         }

//         .select_icon {
//             transform: rotate(180deg);
//         }
//     }
// }

// .select_icon {
//     position: absolute;
//     right: 12px;
//     top: 10px;
//     transform: translate(0, 0%);
//     z-index: 11;
//     pointer-events: none;
//     user-select: none;
//     transition: 0.3s;
//     color: $main_color_black;
// }

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    main {

        .information_area{
            .input_area {
                flex-direction: row;
                margin: 45px auto;
    
                .input-group-label {
                    width: 20%;
                }
        
                .form-control {
                    width: 80%;
                }
    
                &.input-group-submit{
                    margin: 90px auto 45px;
                }
            }
        }
        
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}