main {
    .information_area{
        .input_area {
            margin: 30px auto;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .input-group-label {
                padding: 10px 15px;
                color: $main_color_black;
                width: 100%;
            }
        
            .form-control {
                border-radius: 5px !important;
                margin-left: 0px !important;
                padding: 10px 15px;
                border: 1px solid $main_color_black;
                color: $main_color_black;
                width: 100%;

                &:read-only {
                    color: $grey;
                    background-color: transparent;
                    border: 0px;
                    border-bottom: 1px solid $grey;
                    border-radius: 0px !important;

                    &:focus{
                        box-shadow: none;
                    }
                }

                &.level_introduction_btn {
                    position: relative;
                    margin: 0 0 0 10px;
                    flex-wrap: wrap;
                    display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: $main_color_black;
                
                    p {
                        text-align: left;
                        width: calc(100% - 25px);
                    }
                
                    &.form-control {
                        border-radius: 5px !important;
                        margin-left: 0px !important;
                        padding: 10px 15px;
                        border: 1px solid $main_color_black;
                        color: $main_color_black;
                        &.open {
                
                            svg {
                                transform: rotate(180deg);
                                transition: 0.3s;
                            }
                
                            ul {
                                display: block;
                            }
                        }
                    }
                
                    ul {
                        position: relative;
                        transform: translate(0, 5px);
                        z-index: 2;
                        margin: 0 0 0 auto;
                        width: 100%;
                        display: none;
                        // border: 1px solid $main_color_black;
                        background-color: $white;
                        overflow: hidden;
                        cursor: pointer;
                
                        li {
                            text-align: left;
                            padding: 5px;
                            border-radius: 5px;
                            color: $main_color_black;
                
                            &:hover,
                            &.active {
                                background-color: $main_color;
                                color: $white;
                            }
                        }
                
                        &:hover {
                            li {
                                &.active {
                                    background-color: transparent;
                                    color: $main_color_black;
                
                                    &:hover {
                                        background-color: $main_color;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            &.input-group-submit{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 60px auto 30px;
                .input-group-submit-btn{
                    padding: 8px 30px;
                    border-radius: 50px;
                    border: 1px solid $main_color;
                    color: $main_color;
    
                    &:hover{
                        background-color: $main_color;
                        color: $white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    main {

        .information_area{
            .input_area {
                flex-direction: row;
                margin: 45px auto;
    
                .input-group-label {
                    width: 20%;
                }
        
                .form-control {
                    width: 80%;
                }
    
                &.input-group-submit{
                    margin: 90px auto 45px;
                }
            }
        }
        
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}