main {
    .map_slide {
        position: relative;

        .map_slide_item_area {
            position: absolute;
            width: calc(100% - 40px);
            height: 100%;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);

            .map_slide_item {
                position: absolute;
                z-index: 1;
                width: 16.66666%;

                &.map_slide_item_eleven {
                    top: 9.3%;
                }

                &.map_slide_item_ten {
                    top: 34.5%;
                }

                &.map_slide_item_nine {
                    top: 72.5%;
                }

                &.map_slide_item_twelve {
                    top: 23.8%;
                    left: 17%;
                }

                &.map_slide_item_eight {
                    top: 65.1%;
                    left: 17%;
                }

                &.map_slide_item_thirteen {
                    top: 3.75%;
                    left: 33.1%;
                }

                &.map_slide_item_six {
                    top: 35.9%;
                    left: 33.1%;
                }

                &.map_slide_item_seven {
                    top: 70.1%;
                    left: 33.1%;
                }

                &.map_slide_item_five {
                    top: 61.1%;
                    left: 48.8%;
                }

                &.map_slide_item_one {
                    top: 38.6%;
                    left: 64.5%;
                }

                &.map_slide_item_four {
                    top: 67%;
                    left: 64.5%;
                }

                &.map_slide_item_two {
                    top: 25.4%;
                    left: 80.4%;
                }

                &.map_slide_item_three {
                    top: 55.4%;
                    left: 80.4%;
                }
            }
        }
    }

    .map_road {
        position: relative;

        .map_road_route {
            display: none;
        }

        .map_route_item {
            position: relative;
            width: 80%;
            margin: 0 auto;

            &::before {
                content: "";
                width: 3px;
                height: 100%;
                background: $brown;
                left: 0;
                top: 0;
                position: absolute;
            }

            .map_item_project {
                position: relative;
                margin: 40px auto;

                .timeline-num {
                    background: $white;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0 0 0 -17px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px solid $brown;

                    p {
                        color: $brown;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }

                .map_route_item_link {
                    margin: 0 0 0 auto;
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 30px);

                    .map_route_item_img {
                        width: 100%;
                        max-width: 300px;
                        margin: 0 0 10px 0;
                    }

                    .map_route_item_text {
                        width: 100%;
                        border-radius: 20px;
                        padding: 10px;

                        p {
                            display: flex;
                            flex-direction: column;
                            color: $main_color_black;
                        }

                        .map_route_item_name {
                            margin: 10px 0;
                        }

                        .map_route_item_introduce {
                            p {
                                margin: 5px auto;

                                .map_route_item_span_one{
                                    min-width: 65px;
                                }
                            }
                        }

                        .map_route_item_tittle {
                            font-weight: bold;
                        }
                    }
                }

                &.item_project_one {
                    .map_route_item_text {
                        background-color: $color_one;
                    }
                }

                &.item_project_two {
                    .map_route_item_text {
                        background-color: $color_two;
                    }
                }

                &.item_project_three {
                    .map_route_item_text {
                        background-color: $color_three;
                    }
                }

                &.item_project_four {
                    .map_route_item_text {
                        background-color: $color_four;
                    }
                }

                &.item_project_five {
                    .map_route_item_text {
                        background-color: $color_five;
                    }
                }

                &.item_project_two {
                    .map_route_item_text {
                        background-color: $color_two;
                    }
                }

                &.item_project_six {
                    .map_route_item_text {
                        background-color: $color_six;
                    }
                }

                &.item_project_seven {
                    .map_route_item_text {
                        background-color: $color_seven;
                    }
                }

                &.item_project_eight {
                    .map_route_item_text {
                        background-color: $color_eight;
                    }
                }

                &.item_project_nine {
                    .map_route_item_text {
                        background-color: $color_nine;
                    }
                }

                &.item_project_ten {
                    .map_route_item_text {
                        background-color: $color_ten;
                    }
                }

                &.item_project_eleven {
                    .map_route_item_text {
                        background-color: $color_eleven;
                    }
                }

                &.item_project_twelve {
                    .map_route_item_text {
                        background-color: $color_twelve;
                    }
                }

                &.item_project_thirteen {
                    .map_route_item_text {
                        background-color: $color_thirteen;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    main {
        .map_road {
            .map_route_item {
                .map_item_project {
                    .map_route_item_link {
                        .map_route_item_text {
                            p {
                                flex-direction: row;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {
        .map_road {
            .map_route_item {

                .map_item_project {

                    .map_route_item_link {
                        flex-direction: row;
                        align-items: center;

                        .map_route_item_img {
                            width: 40%;
                            padding: 10px;
                        }

                        .map_route_item_text {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .map_road {
            .map_route_item {

                .map_item_project {

                    .map_route_item_link {
                        justify-content: space-between;

                        .map_route_item_img {
                        }

                        .map_route_item_text {
                            width: 55%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {

        .map_road {

            .map_road_route {
                display: block;
                margin: calc(350px * 0.83 ) auto;

                .square {
                    position: relative;
                    height: calc(350px * 0.83);

                    &.square_right {
                        &::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 350px;
                            height: 15px;
                            background-color: $main_color;
                            transform: translate(-50%, -50%) rotate(60deg);
                            border-radius: 50px;
                        }
                    }

                    &.square_left {
                        &::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 350px;
                            height: 15px;
                            background-color: $main_color;
                            transform: translate(-50%, -50%) rotate(-60deg);
                            border-radius: 50px;
                        }
                    }
                }
            }

            .map_route_item {
                width: 90%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);

                .map_item_project {
                    position: absolute;
                    transform: translate(0, -50%);
                    width: calc(50% - 150px);
                    margin: 0 auto;

                    .timeline-num{
                        width: 45px;
                        height: 45px;
                        top: 50%;
                        margin: 0;

                        p{
                            font-size: 25px;
                        }
                    }

                    .map_route_item_link {
                        flex-direction: column;
                        width: 100%;

                        .map_route_item_img {
                            width: 100%;
                            padding: 0;
                        }

                        .map_route_item_text {
                            width: 100%;
                        }
                    }

                    &.map_item_project_right{
                        right: 0;

                        .timeline-num{
                            transform: translate(calc(-75px - 7.5px - 25%) , -50%);
                        }
                    }

                    &.map_item_project_left{
                        left: 0;

                        .timeline-num{
                            left: auto;
                            right: 0;
                            transform: translate(calc(75px + 7.5px + 25%) , -50%);
                        }
                    }

                    &.item_project_one {
                        top: calc(350px * 0.83 * 0);
                    }

                    &.item_project_two {
                        top: calc(350px * 0.83 * 1);
                    }

                    &.item_project_three {
                        top: calc(350px * 0.83 * 2);
                    }

                    &.item_project_four {
                        top: calc(350px * 0.83 * 3);
                    }

                    &.item_project_five {
                        top: calc(350px * 0.83 * 4);
                    }

                    &.item_project_six {
                        top: calc(350px * 0.83 * 5);
                    }

                    &.item_project_seven {
                        top: calc(350px * 0.83 * 6);
                    }

                    &.item_project_eight {
                        top: calc(350px * 0.83 * 7);
                    }

                    &.item_project_nine {
                        top: calc(350px * 0.83 * 8);
                    }

                    &.item_project_ten {
                        top: calc(350px * 0.83 * 9);
                    }

                    &.item_project_eleven {
                        top: calc(350px * 0.83 * 10);
                    }

                    &.item_project_twelve {
                        top: calc(350px * 0.83 * 11);
                    }

                    &.item_project_thirteen {
                        top: calc(350px * 0.83 * 12);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {
    main {

        .map_road {

            .map_route_item {

                .map_item_project {

                    .map_route_item_link {

                        .map_route_item_text {
                            .map_route_item_introduce {
                                p {
    
                                    .map_route_item_span_one{
                                        min-width: 80px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    main {

        .map_road {
            .map_road_route {
                margin: calc(220px * 0.83 ) auto;

                .square {
                    position: relative;
                    height: calc(220px * 0.83);

                    &.square_right {
                        &::before {
                            width: 220px;
                        }
                    }

                    &.square_left {
                        &::before {
                            width: 220px;
                        }
                    }
                }
            }

            .map_route_item {

                .map_item_project {
                    width: calc(50% - 80px);

                    .map_route_item_link {
                        flex-direction: row;

                        .map_route_item_img{
                            width: 40%;
                            padding: 0;
                            margin: 0;
                        }

                        .map_route_item_text{
                            width: 55%;
                        }
                    }

                    &.map_item_project_right{
                        .timeline-num{
                            transform: translate(calc(-40px - 7.5px - 25%) , -50%);
                        }
                    }

                    &.map_item_project_left{
                        .timeline-num{
                            left: auto;
                            right: 0;
                            transform: translate(calc(40px + 7.5px + 25%) , -50%);
                        }

                        .map_route_item_link{
                            display: flex;
                            flex-direction: row-reverse;
                        }
                    }

                    &.item_project_one {
                        top: calc(220px * 0.83 * 0);
                    }

                    &.item_project_two {
                        top: calc(220px * 0.83 * 1);
                    }

                    &.item_project_three {
                        top: calc(220px * 0.83 * 2);
                    }

                    &.item_project_four {
                        top: calc(220px * 0.83 * 3);
                    }

                    &.item_project_five {
                        top: calc(220px * 0.83 * 4);
                    }

                    &.item_project_six {
                        top: calc(220px * 0.83 * 5);
                    }

                    &.item_project_seven {
                        top: calc(220px * 0.83 * 6);
                    }

                    &.item_project_eight {
                        top: calc(220px * 0.83 * 7);
                    }

                    &.item_project_nine {
                        top: calc(220px * 0.83 * 8);
                    }

                    &.item_project_ten {
                        top: calc(220px * 0.83 * 9);
                    }

                    &.item_project_eleven {
                        top: calc(220px * 0.83 * 10);
                    }

                    &.item_project_twelve {
                        top: calc(220px * 0.83 * 11);
                    }

                    &.item_project_thirteen {
                        top: calc(220px * 0.83 * 12);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    main {

        .map_road {

            .map_route_item {

                .map_item_project {

                    .map_route_item_link {

                        .map_route_item_img{
                            width: 35%;
                        }

                        .map_route_item_text{
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}