main {
    .test_area {

        &.ocean_test_area {

            .QA_area {



                .topic_area {
                    .recording_stop_play_area {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .recording_button_item{
                            margin: 10px 15px;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 576px) {
    main {
        .test_area {}
    }
}

@media screen and (min-width: 768px) {
    main {
        .test_area {}
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    main {
        .test_area {
            &.ocean_test_area {

                .QA_area {

                    .topic_area {
                        .recording_stop_play_area {
                            flex-direction: row;
                            align-items: flex-start;
                            .recording_button_item{
                                margin: 0px 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {}

@media screen and (orientation:portrait) {
    main {
        .test_area {}
    }
}

@media all and (orientation:landscape) {
    main {
        .test_area {}
    }
}