main {
    .test_area {


        &.ocean_test_area {

            .QA_area {
                .test_progress {
                    .drag-line {
                        .line {
                            background: $main_color_blue;
                        }
                    }
                }

                .topic_description_area {
                    .description_text_area {
                        .animal_name_area {
                            .animal_name {
                                color: $main_color_blue;
                            }

                            .sound_icon {
                                background-color: $main_color_blue;

                                p {
                                    background-color: $main_color_blue;

                                    &::before {
                                        border-top: 8px solid $main_color_blue;
                                    }
                                }
                            }
                        }
                    }
                }

                
            }
        }

    }
}

@media screen and (min-width: 576px) {
    main {
        .test_area {

        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .test_area {
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .test_area {
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        .test_area {
        }
    }
}

@media screen and (min-width: 1400px) {}

@media screen and (orientation:portrait) {
    main {
        .test_area {
        }
    }
}

@media all and (orientation:landscape) {
    main {
        .test_area {
        }
    }
}