$header_bg: #F2F2F2;
$body_bg: #deebf7;

/*main*/
$main_color:            #7e64ab; 
$main_color_red:		#ff5151; 
$main_color_black:	    #2e3233; 
$main_color_blue:		#0066cc; 
$main_color_yellow:		#e4c934;
$main_color_purpleLight:#9999cc; 


/*other*/
$white:#fff;
$grey: grey;
