$header_bg: #EFE8E0;
$body_bg: #F9F8F3;
$body_bg_two: #eeebe3;
$footer_bg: #483C34;

/*main*/
$main_color:             #ed710e;
$main_color_red:	  	 #db4a49; 
$main_color_black:	     #2e3233; 
$main_color_blue:		 #2194d3; 
$main_color_yellow:	 	 #f7b62d;
$main_color_orange:      #ed710e;
$main_color_green:       #4e9a36;
$main_color_purpleLight: #9a85bd; 
$main_color_purpleDarken:#654d8f;
$main_color_orangeLight: #f6a96b;
$main_color_orangeDarken:#bd5a0b;

/*transparency*/
$main_color_40:#ed710e40;
$main_color_25:#ed710e25;
$white_50:#f2f1f1cc;
$main_color_green_70:    #4e9a36b3;
$main_color_blue_70:    #2194d3b3;
$main_color_red_70:    #db4a49b3;


/*other*/
$white:#fff;
$grey: grey;
$blue: #0302fe;
$brown: #514223;
$glow_color:#fcff50;
$correct_answer:#b8e79a;
$correct_text:#375e1e;
$wrong_answer:#b5cbf3;
$wrong_text:#1c4ca3;
$wrong_answer:#efbad6;
$wrong_text:#c82e7f;
$teacherVoice:#69379b;
$QA_area:#f2f1f199;
$sentenceBg:#faebd7;
$shape_color: #EADBCE;
$contact_box_color: #f7dfd3;
$rainbow_item_one:#00b050;
$rainbow_item_two:#66ff33;
$rainbow_item_three:#f3e11e;
$rainbow_item_four:#ffc000;
$rainbow_item_five:#ff0000;
//20240613新版
$correct_text:#4169e1;
$answer_sound_bg: #f4c430;
$answer_display_link: #8a43e4;
$correct_bg: #e2eaff;
//20240613新版

/*STUDY*/
$letter_A:#e60b32;
$letter_B:#475476;
$letter_C:#e25d33;
$letter_D:#3a4875;
$letter_E:#77482c;
$letter_F:#fc6a05;
$letter_G:#e49354;
$letter_H:#ffbb17;
$letter_I:#78533a;
$letter_J:#1a07a0;
$letter_K:#d22e30;
$letter_L:#ffbb17;
$letter_M:#f74b4b;
$letter_N:#a25b23;
$letter_O:#036fb8;
$letter_P:#f21c2f;
$letter_Q:#a0132b;
$letter_R:#e86d01;
$letter_S:#825236;
$letter_T:#ffbe23;
$letter_U:#e49354;
$letter_V:#652d90;
$letter_W:#4d2a52;
$letter_X:#cc2628;
$letter_Y:#42567c;
$letter_Z:#ffbb17;

$drag_bg:#FFF4DE;

/*MAP*/
$map_slide_bg: #fffbd4;
$color_one: #ffa2c4;
$color_two: #ff6983;
$color_three: #E48E58;
$color_four: #ea6640;
$color_five: #ffce5a;
$color_six: #ffcf2c;
$color_seven: #A8C879;
$color_eight: #5AA08D;
$color_nine: #68deff;
$color_ten: #70b9da;
$color_eleven: #b992cf;
$color_twelve: #9a65b9;
$color_thirteen: #bf8473;

$ticket_bg: #fdf2dd;
