$header_bg: #EFE8E0;
$body_bg: #F9F8F3;
$body_bg_two: #eeebe3;
$footer_bg: #483C34;

/*main*/
$main_color:             #ed710e;
$main_color_red:	  	 #db4a49; 
$main_color_black:	     #2e3233; 
$main_color_blue:		 #2194d3; 
$main_color_yellow:	 	 #f7b62d;
$main_color_orange:      #ed710e;
$main_color_green:       #4e9a36;
$main_color_purpleLight: #9a85bd; 
$main_color_purpleDarken:#654d8f;
$main_color_orangeLight: #f6a96b;
$main_color_orangeDarken:#bd5a0b;

/*transparency*/
$main_color_40:#ed710e40;
$main_color_25:#ed710e25;
$white_50:#f2f1f1cc;
$main_color_green_70:    #4e9a36b3;
$main_color_blue_70:    #2194d3b3;
$main_color_red_70:    #db4a49b3;


/*other*/
$white:#fff;
$grey: grey;
$blue: #0302fe;
// $brown: #514223;
$brown: #634218;
$glow_color:#fcff50;
$correct_answer:#b8e79a;
$correct_text:#375e1e;
$wrong_answer:#b5cbf3;
$wrong_text:#1c4ca3;
$wrong_answer:#efbad6;
$wrong_text:#c82e7f;
$QA_area:#f2f1f199;
$shape_color: #EADBCE;
$contact_box_color: #f7dfd3;

/*STUDY*/
$letter_A:#e60b32;
$letter_B:#475476;
$letter_C:#e25d33;
$letter_D:#3a4875;
$letter_E:#77482c;
$letter_F:#fc6a05;
$letter_G:#e49354;
$letter_H:#ffbb17;
$letter_I:#78533a;
$letter_J:#1a07a0;
$letter_K:#d22e30;
$letter_L:#ffbb17;
$letter_M:#f74b4b;
$letter_N:#a25b23;
$letter_O:#036fb8;
$letter_P:#f21c2f;
$letter_Q:#a0132b;
$letter_R:#e86d01;
$letter_S:#825236;
$letter_T:#ffbe23;
$letter_U:#e49354;
$letter_V:#652d90;
$letter_W:#4d2a52;
$letter_X:#cc2628;
$letter_Y:#42567c;
$letter_Z:#ffbb17;
$letter_UG:#5f8e21;
// unit3
$letter_a_e:#ff7c81;
$letter_e_e:#01b0f1;
$letter_i_e:#eef313;
$letter_o_e:#e09e3e;
$letter_u_e:#66d644;
// unit5
$letter_SH:#2a91c3;
$letter_CH:#349238;
$letter_PH:#df8d84;
$letter_WH:#b297c6;
$letter_TH:#f4ba1c;
$letter_CK:#eaaa38;
$letter_NG:#92c384;
// unit6
$letter_ai:#E50B32;
$letter_ay:#E50B32;
$letter_ea:#349238;
$letter_ee:#349238;
$letter_ey:#349238;
$letter_ie:#EAAA38;
$letter_oa:#036FB7;
$letter_oe:#036FB7;
$letter_ow:#036FB7;
$letter_ue:#132BA3;
$letter_ui:#132BA3;
// unit7
$letter_bl:#E50B32;
$letter_pl:#036FB7;
$letter_cl:#EAAA38;
$letter_gl:#349238;
$letter_dr:#132BA3;
$letter_sw:#652D8F;
$letter_fl:#3F631C;
$letter_sm:#1A9EE8;
$letter_sk:#000A68;
$letter_sp:#48147F;
$letter_st:#307FAA;
// unit8
$letter_au:#E50B32;
$letter_ou:#2A91C3;
$letter_oi:#92C384;
$letter_oo1:#036FB7;
$letter_oo2:#FFBA17;
// unit10
$letter_ar:#E50B32;
$letter_er1:#1A9EE8;
$letter_er2:#036FB7;
$letter_ir:#FF67A0;
$letter_or1:#92C384;
$letter_or2:#652D8F;
$letter_ur:#2A91C3;
$letter_air:#E50B32;
$letter_ear:#349238;
$letter_ire:#652D8F;
$letter_ore:#1A9EE8;
$letter_our:#E76D01;
// unit11
$letter_y1:#E50B32;
$letter_y2:#FF67A0;
$letter_al:#349238;
$letter_all:#FF951F;
$letter_ild:#92C384;
$letter_old:#036FB7;
$letter_ind:#2A91C3;
$letter_wr:#E76D01;
$letter_kn:#652D8F;
$letter_igh:#1A9EE8;
$letter_gh:#FFC000;
// unit12
$letter_es:#E50B32;


// $drag_bg:#FFF4DE;
$drag_bg:#fffdf1;
$drag_cloze:#70ace3;

/*MAP*/
$map_slide_bg: #fffbd4;
$color_one: #fe88b4;
$color_two: #fe8d91;
$color_three: #ffba75;
$color_four: #fbac85;
$color_five: #fedd74;
$color_six: #f9eb57;
$color_seven: #cfe870;
$color_eight: #5fc69b;
$color_nine: #83dbcd;
$color_ten: #73d6f3;
$color_eleven: #93bffe;
$color_twelve: #b997ee;
$color_thirteen: #e4b0f2;

$ticket_bg: #fdf2dd;
