@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans SC", "Microsoft JhengHei", "Noto Sans TC", "Microsoft YaHei", "PingFang TC", "PingFang SC", "Heiti TC", "Heiti SC", "LiHei Pro", "STXihei", sans-serif;
}

/*main*/
/*other*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

h1 {
  font-size: 25px;
  line-height: 1.7;
}

h3 {
  font-size: 21px;
  line-height: 1.7;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
}

p {
  font-size: 14px;
  line-height: 1.7;
}

span,
th,
td {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}

a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}

ruby {
  letter-spacing: 1.8px;
  line-height: 3;
}

rt {
  transform: translateY(-35%);
}

input,
label {
  font-size: 14px;
  line-height: 1.7;
}

input[type=file]::-webkit-file-upload-button {
  display: none;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
}

button {
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  opacity: 0.5;
  cursor: auto;
}

*,
body {
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

body {
  background-color: #deebf7;
}

.cursor {
  cursor: pointer;
}

.text_center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 21px;
  }
  p {
    font-size: 15px;
  }
  span,
th,
td {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  input,
label {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 23px;
  }
  p {
    font-size: 17px;
  }
  span,
th,
td {
    font-size: 17px;
  }
  a {
    font-size: 17px;
  }
  input,
label {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 19px;
  }
  span,
th,
td {
    font-size: 19px;
  }
  a {
    font-size: 19px;
  }
  input,
label {
    font-size: 19px;
  }
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 27px;
  }
  p {
    font-size: 20px;
  }
  span,
th,
td {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  input,
label {
    font-size: 20px;
  }
}
@-webkit-keyframes btnVariety {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes btnVariety {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.button-animate {
  -webkit-animation: btnVariety 2s infinite ease-in-out;
          animation: btnVariety 2s infinite ease-in-out;
}

.page_title {
  padding: 10px 30px;
  border-radius: 50px;
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
}
.page_title h4 {
  color: #fff;
  word-break: keep-all;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 0px 15px;
}
header .navbar .container-fluid {
  padding: 0px;
}
header .navbar .container-fluid .navbar-brand img {
  width: 120px;
}
header .nav_name {
  position: relative;
  padding: 5px 0px;
}
header .nav_name .nav_name_link {
  padding: 5px 15px;
  background-color: #7e64ab;
  border-radius: 50px;
  color: #fff;
}
header .nav_name .nav_name_menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 7px);
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #7e64ab;
  display: none;
}
header .nav_name .nav_name_menu a {
  color: #7e64ab;
}
header .nav_name .nav_name_menu:before, header .nav_name .nav_name_menu:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translate(-50%, 0px);
}
header .nav_name .nav_name_menu:before {
  border-width: 0px 8px 8px 8px;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #7e64ab;
}
header .nav_name .nav_name_menu:after {
  border-width: 0px 7px 7px 7px;
  top: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}
header .nav_name .nav_name_menu:hover {
  background-color: #7e64ab;
}
header .nav_name .nav_name_menu:hover a {
  color: #fff;
}
header .nav_name .nav_name_menu:hover:after {
  border-bottom: 7px solid #7e64ab;
}

@media screen and (min-width: 576px) {
  header .navbar .container-fluid .navbar-brand img {
    width: 160px;
  }
}
@media screen and (min-width: 992px) {
  header .navbar .container-fluid .navbar-brand img {
    width: 200px;
  }
}
main .login_area {
  background-color: #fff;
  width: 80%;
  margin: 120px auto;
  padding: 50px 40px;
  max-width: 450px;
  position: relative;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 3px rgba(126, 100, 171, 0.25);
  border-color: rgba(126, 100, 171, 0.4);
}
main .login_area .login_title {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  background-color: #00a29a;
  width: 60%;
}
main .login_area .input-group {
  margin: 30px auto;
}
main .login_area .input-group .input-group-text {
  border: 0px;
}
main .login_area .input-group .input-group-text.icon_user {
  background-color: #2194d3;
  background-image: linear-gradient(-45deg, #1a75a7 0%, #2194d3 75%);
  border-radius: 50% !important;
}
main .login_area .input-group .input-group-text.icon_password {
  background-color: #f8b62d;
  background-image: linear-gradient(-45deg, #eaa108 0%, #f8b62d 75%);
  border-radius: 50% !important;
}
main .login_area .input-group .input-group-text i {
  color: #fff;
}
main .login_area .input-group input {
  border-radius: 50px !important;
  margin-left: 10px !important;
}
main .login_area .input-group input.form-control:focus {
  box-shadow: 0 0 6px 2px rgba(126, 100, 171, 0.25);
  border-color: rgba(126, 100, 171, 0.4);
}
main .login_area .button_login {
  padding: 5px 10px;
  background-color: #7e64ab;
  width: 100%;
  margin: 30px auto;
  color: #fff;
  border-radius: 50px;
  transform: scale(0.8);
}

@media screen and (min-width: 576px) {
  main .login_area .button_login {
    padding: 10px;
  }
}
main .pick_level_area .pick_level_top {
  display: flex;
  flex-direction: column;
}
main .pick_level_area .pick_level_top .avatar_area {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}
main .pick_level_area .pick_level_top .avatar_area .avatar_img {
  width: 8%;
  margin: 15px 1% 0px;
}
main .pick_level_area .pick_level_top .avatar_area .avatar_img:hover ~ .avatar_explain {
  display: block;
}
main .pick_level_area .pick_level_top .avatar_area .avatar_explain {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 15px);
  width: 85%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #7e64ab;
  padding: 5px 12px;
  display: none;
}
main .pick_level_area .pick_level_top .avatar_area .avatar_explain p {
  color: #7e64ab;
}
main .pick_level_area .pick_level_top .avatar_area .avatar_explain:before, main .pick_level_area .pick_level_top .avatar_area .avatar_explain:after {
  position: absolute;
  content: "";
}
main .pick_level_area .pick_level_top .avatar_area .avatar_explain:before {
  border-width: 0px 8px 8px 8px;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #7e64ab;
  left: 5%;
}
main .pick_level_area .pick_level_top .avatar_area .avatar_explain:after {
  border-width: 0px 7px 7px 7px;
  top: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  left: calc(5% + 1px);
}
main .pick_level_area .pick_level_top .pick_level_title {
  margin: 20px auto;
}
main .pick_level_area .pick_level_top .pick_level_title p {
  color: #7e64ab;
}
main .pick_level_area .swiper {
  width: 100%;
  height: calc(90vh - 64.7px - 140px);
  padding: 0px 10%;
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide .level_img {
  border-radius: 10px;
  width: auto;
  height: auto;
  overflow: hidden;
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide .level_img img {
  border-radius: 15px;
  padding: 5px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide .button_level {
  padding: 5px 10px;
  background-color: #7e64ab;
  margin: 30px auto;
  color: #fff;
  border-radius: 50px;
  transform: scale(0.8);
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide .button_level a {
  color: #fff;
  padding: 5px 30px;
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide.level_one .level_img {
  background: linear-gradient(135deg, #fff 0% 5%, #00a29a 5% 10%, #fff 10% 15%, #00a29a 15% 20%, #fff 20% 25%, #00a29a 25% 30%, #fff 30% 35%, #00a29a 35% 40%, #fff 40% 45%, #00a29a 45% 50%, #fff 50% 55%, #00a29a 55% 60%, #fff 60% 65%, #00a29a 65% 70%, #fff 70% 75%, #00a29a 75% 80%, #fff 80% 85%, #00a29a 85% 90%, #fff 90% 95%, #00a29a 95% 100%);
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide.level_one .button_level {
  background-color: #00a29a;
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide.level_two .level_img {
  background: linear-gradient(135deg, #fff 0% 5%, #2194d3 5% 10%, #fff 10% 15%, #2194d3 15% 20%, #fff 20% 25%, #2194d3 25% 30%, #fff 30% 35%, #2194d3 35% 40%, #fff 40% 45%, #2194d3 45% 50%, #fff 50% 55%, #2194d3 55% 60%, #fff 60% 65%, #2194d3 65% 70%, #fff 70% 75%, #2194d3 75% 80%, #fff 80% 85%, #2194d3 85% 90%, #fff 90% 95%, #2194d3 95% 100%);
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide.level_two .button_level {
  background-color: #2194d3;
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide.level_three .level_img {
  background: linear-gradient(135deg, #fff 0% 5%, #d75298 5% 10%, #fff 10% 15%, #d75298 15% 20%, #fff 20% 25%, #d75298 25% 30%, #fff 30% 35%, #d75298 35% 40%, #fff 40% 45%, #d75298 45% 50%, #fff 50% 55%, #d75298 55% 60%, #fff 60% 65%, #d75298 65% 70%, #fff 70% 75%, #d75298 75% 80%, #fff 80% 85%, #d75298 85% 90%, #fff 90% 95%, #d75298 95% 100%);
}
main .pick_level_area .swiper .swiper-wrapper .swiper-slide.level_three .button_level {
  background-color: #d75298;
}
main .pick_level_area .swiper-pagination {
  right: 5%;
  top: 0;
  transform: translate3d(50%, 100%, 0);
}
main .pick_level_area .swiper-pagination .swiper-pagination-bullet {
  background: #7e64ab;
}
main .pick_level_area .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #7e64ab;
}

@media screen and (min-width: 576px) {
  main .pick_level_area .swiper {
    height: calc(90vh - 77.05px - 150px);
  }
}
@media screen and (min-width: 768px) {
  main .pick_level_area .pick_level_top {
    position: relative;
    margin: 20px auto;
  }
  main .pick_level_area .pick_level_top .avatar_area {
    margin: 0px 5px 0px auto;
    max-width: 250px;
    order: 2;
  }
  main .pick_level_area .pick_level_top .avatar_area .avatar_img {
    width: 18%;
  }
  main .pick_level_area .pick_level_top .pick_level_title {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
  }
  main .pick_level_area .swiper {
    width: 80%;
    padding: 0px 5%;
    height: calc(90vh - 77.05px - 160px);
  }
  main .pick_level_area .swiper .swiper-wrapper .swiper-slide {
    justify-content: center;
  }
  main .pick_level_area .swiper .swiper-wrapper .swiper-slide .level_img img {
    border-radius: 20px;
    padding: 10px;
  }
  main .pick_level_area .swiper-pagination {
    right: 2.5%;
    top: 50%;
    transform: translate3d(50%, -50%, 0);
  }
}
@media screen and (min-width: 992px) {
  main .pick_level_area .pick_level_top {
    margin: 40px auto;
  }
  main .pick_level_area .swiper {
    height: calc(90vh - 89.81px - 200px);
  }
}
main .test_area_bg {
  width: 100%;
  height: calc(100vh - 64.7px);
  padding: 30px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .test_area_bg.land_test_area {
  background-image: url(../image/photo/test/bg/test.png);
}
main .test_area_bg .test_progress .drag-line {
  max-width: 1200px;
  width: 45%;
  height: 10px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
}
main .test_area_bg .test_progress .drag-line .line {
  background: #7e64ab;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 0px;
  /* background-position: center center; */
}

@media screen and (min-width: 576px) {
  main .test_area_bg {
    height: calc(100vh - 77.05px);
  }
}
@media screen and (min-width: 992px) {
  main .test_area_bg {
    height: calc(100vh - 89.81px);
  }
}/*# sourceMappingURL=SPhonics.css.map */